@{ ViewBag.Title = "Index"; }
<div class="panel panel-primary">
    <div class="panel-heading">User Details</div>
    <table class="table table-striped">
        @foreach (string key in Model.Keys)
        {
            <tr>
                <th>@key</th>
                <td>@Model[key]</td>
            </tr>
        }
    </table>
</div>
@Html.ActionLink("Sign Out", "Logout", "Account", null, new { @class = "btn btn-primary" })